<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtzh.mapper.CharacterUserinfoMapper">
	<resultMap id="BaseResultMap" type="com.jtzh.entity.CharacterUserinfo">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="CRoleName" jdbcType="CHAR" property="crolename" />
		<result column="VersionNo" jdbcType="INTEGER" property="versionno" />
		<result column="TransactionID" jdbcType="CHAR" property="transactionid" />
		<result column="CreateBy" jdbcType="CHAR" property="createby" />
		<result column="CreateOn" jdbcType="TIMESTAMP" property="createon" />
		<result column="UpdateBy" jdbcType="CHAR" property="updateby" />
		<result column="UpdateOn" jdbcType="TIMESTAMP" property="updateon" />
		<result column="DataLevel" jdbcType="VARCHAR" property="datalevel" />
		<result column="IsDeleted" jdbcType="INTEGER" property="isdeleted" />
		<result column="ord" jdbcType="INTEGER" property="ord" />
	</resultMap>
	<sql id="Base_Column_List">
		id, CRoleName, VersionNo, TransactionID, CreateBy, CreateOn, UpdateBy,
		UpdateOn,
		DataLevel, IsDeleted, ord
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from character_userinfo
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from character_userinfo
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.jtzh.entity.CharacterUserinfo">
		insert into character_userinfo (id, CRoleName, VersionNo,
		TransactionID, CreateBy, CreateOn,
		UpdateBy, UpdateOn, DataLevel,
		IsDeleted, ord)
		values (#{id,jdbcType=INTEGER}, #{crolename,jdbcType=CHAR},
		#{versionno,jdbcType=INTEGER},
		#{transactionid,jdbcType=CHAR}, #{createby,jdbcType=CHAR}, #{createon,jdbcType=TIMESTAMP},
		#{updateby,jdbcType=CHAR}, #{updateon,jdbcType=TIMESTAMP},
		#{datalevel,jdbcType=VARCHAR},
		#{isdeleted,jdbcType=INTEGER}, #{ord,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.jtzh.entity.CharacterUserinfo">
		insert into character_userinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="crolename != null">
				CRoleName,
			</if>
			<if test="versionno != null">
				VersionNo,
			</if>
			<if test="transactionid != null">
				TransactionID,
			</if>
			<if test="createby != null">
				CreateBy,
			</if>
			<if test="createon != null">
				CreateOn,
			</if>
			<if test="updateby != null">
				UpdateBy,
			</if>
			<if test="updateon != null">
				UpdateOn,
			</if>
			<if test="datalevel != null">
				DataLevel,
			</if>
			<if test="isdeleted != null">
				IsDeleted,
			</if>
			<if test="ord != null">
				ord,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="crolename != null">
				#{crolename,jdbcType=CHAR},
			</if>
			<if test="versionno != null">
				#{versionno,jdbcType=INTEGER},
			</if>
			<if test="transactionid != null">
				#{transactionid,jdbcType=CHAR},
			</if>
			<if test="createby != null">
				#{createby,jdbcType=CHAR},
			</if>
			<if test="createon != null">
				#{createon,jdbcType=TIMESTAMP},
			</if>
			<if test="updateby != null">
				#{updateby,jdbcType=CHAR},
			</if>
			<if test="updateon != null">
				#{updateon,jdbcType=TIMESTAMP},
			</if>
			<if test="datalevel != null">
				#{datalevel,jdbcType=VARCHAR},
			</if>
			<if test="isdeleted != null">
				#{isdeleted,jdbcType=INTEGER},
			</if>
			<if test="ord != null">
				#{ord,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jtzh.entity.CharacterUserinfo">
		update character_userinfo
		<set>
			<if test="crolename != null">
				CRoleName = #{crolename,jdbcType=CHAR},
			</if>
			<if test="versionno != null">
				VersionNo = #{versionno,jdbcType=INTEGER},
			</if>
			<if test="transactionid != null">
				TransactionID = #{transactionid,jdbcType=CHAR},
			</if>
			<if test="createby != null">
				CreateBy = #{createby,jdbcType=CHAR},
			</if>
			<if test="createon != null">
				CreateOn = #{createon,jdbcType=TIMESTAMP},
			</if>
			<if test="updateby != null">
				UpdateBy = #{updateby,jdbcType=CHAR},
			</if>
			<if test="updateon != null">
				UpdateOn = #{updateon,jdbcType=TIMESTAMP},
			</if>
			<if test="datalevel != null">
				DataLevel = #{datalevel,jdbcType=VARCHAR},
			</if>
			<if test="isdeleted != null">
				IsDeleted = #{isdeleted,jdbcType=INTEGER},
			</if>
			<if test="ord != null">
				ord = #{ord,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jtzh.entity.CharacterUserinfo">
		update character_userinfo
		set CRoleName = #{crolename,jdbcType=CHAR},
		VersionNo = #{versionno,jdbcType=INTEGER},
		TransactionID = #{transactionid,jdbcType=CHAR},
		CreateBy = #{createby,jdbcType=CHAR},
		CreateOn = #{createon,jdbcType=TIMESTAMP},
		UpdateBy = #{updateby,jdbcType=CHAR},
		UpdateOn = #{updateon,jdbcType=TIMESTAMP},
		DataLevel = #{datalevel,jdbcType=VARCHAR},
		IsDeleted = #{isdeleted,jdbcType=INTEGER},
		ord = #{ord,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectCharacterUserinfo" parameterType="com.jtzh.pojo.CharacterUserinfoPagination"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from character_userinfo
		<where>
			<if test="page.key != null and page.key != ''">
				and (CRoleName like concat('%',#{page.key},'%')
				or CreateBy like concat('%',#{page.key},'%')
				or UpdateBy like concat('%',#{page.key},'%')
				)
			</if>
			<if test="page.startTime != null and page.startTime != ''">
				and CreateOn &gt; #{page.startTime}
			</if>
			<if test="page.endTime != null and page.endTime != ''">
				and CreateOn &lt; #{page.endTime}
			</if>
		</where>
		order by CreateOn desc
		limit
		#{page.start},#{page.pageSize}
	</select>

	<select id="selectCharacterUserinfofigTotal" parameterType="com.jtzh.pojo.CharacterUserinfoPagination"
		resultType="java.lang.Integer">
		select count(id)
		from character_userinfo
		<where>
			<if test="page.key != null and page.key != ''">
				and (CRoleName like concat('%',#{page.key},'%')
				or CreateBy like concat('%',#{page.key},'%')
				or UpdateBy like concat('%',#{page.key},'%')
				)
			</if>
			<if test="page.startTime != null and page.startTime != ''">
				and CreateOn &gt; #{page.startTime}
			</if>
			<if test="page.endTime != null and page.endTime != ''">
				and CreateOn &lt; #{page.endTime}
			</if>
		</where>
	</select>

	<select id="selectBySId" resultType="com.jtzh.pojo.CharacterUserTree">
		select CRoleName as
		cRoleName
		,DataLevel as dataLevel,id
		from character_userinfo
		where
		parentid = #{id}
	</select>
	<select id="getAllRole" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from character_userinfo
		order by CreateOn desc
	</select>
</mapper>