<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jtzh.mapper.CountrysideChuliMapper">
	<resultMap id="BaseResultMap" type="com.jtzh.entity.CountrysideChuli">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="shangbaoid" property="shangbaoid" jdbcType="INTEGER" />
		<result column="chuliren" property="chuliren" jdbcType="VARCHAR" />
		<result column="chulitime" property="chulitime" jdbcType="DATE" />
		<result column="chulimiaoshu" property="chulimiaoshu" jdbcType="VARCHAR" />
		<result column="shenheren" property="shenheren" jdbcType="VARCHAR" />
		<result column="shenhetime" property="shenhetime" jdbcType="DATE" />
		<result column="shenhemiaoshu" property="shenhemiaoshu" jdbcType="VARCHAR" />
		<result column="shenheState" property="shenheState" jdbcType="VARCHAR" />
		<result column="attachment_source" property="attachmentSource" jdbcType="CHAR" />
		<result column="createId" property="createId" jdbcType="VARCHAR" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    	<result column="delflag" jdbcType="VARCHAR" property="delflag" />
	</resultMap>
	<sql id="Base_Column_List">
		id, shangbaoid,
		chuliren, chulitime, chulimiaoshu, 
		shenheren, shenhetime, shenhemiaoshu, 
		shenheState, attachment_source, 
		createId, createTime, delflag
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from countryside_chuli
		where id = #{id,jdbcType=INTEGER}
	</select>
	<insert id="insert" parameterType="com.jtzh.entity.CountrysideChuli">
		insert into
		countryside_chuli (
		id, shangbaoid,
		chuliren, chulitime, chulimiaoshu, 
		attachment_source, createId,
		createTime, delflag)
		values (#{id,jdbcType=INTEGER},
		#{shangbaoid,jdbcType=INTEGER},
		#{chuliren,jdbcType=VARCHAR},
		#{chulitime,jdbcType=DATE},
		#{chulimiaoshu,jdbcType=VARCHAR}, 
		#{attachmentSource,jdbcType=DATE},
		#{createId,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{delflag,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.jtzh.entity.CountrysideChuli">
		insert into countryside_chuli
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="shangbaoid != null">
				shangbaoid,
			</if>
			<if test="chuliren != null">
				chuliren,
			</if>
			<if test="chulitime != null">
				chulitime,
			</if>
			<if test="chulimiaoshu != null">
				chulimiaoshu,
			</if>
			<if test="attachmentSource != null">
				attachment_source,
			</if>
			<if test="createId != null">
				createId,
			</if>
			<if test="createTime != null">
				createTime,
			</if>
			<if test="delflag != null">
				delflag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="shangbaoid != null">
				#{shangbaoid,jdbcType=INTEGER},
			</if>
			<if test="chuliren != null">
				#{chuliren,jdbcType=VARCHAR},
			</if>
			<if test="chulitime != null">
				#{chulitime,jdbcType=DATE},
			</if>
			<if test="chulimiaoshu != null">
				#{chulimiaoshu,jdbcType=VARCHAR},
			</if>
			<if test="attachmentSource != null">
				#{attachmentSource,jdbcType=CHAR},
			</if>
			<if test="createId != null">
				#{createId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="delflag != null">
				#{delflag,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="selectChlTotal" parameterType="com.jtzh.pojo.CountrysideChuliParam"
		resultType="java.lang.Integer">
		select count(1)
		from countryside_chuli
		where delflag = 'A'
		<if test="page.yhzh != null and page.yhzh != ''">
			and yhzh like concat('%', #{page.yhzh},
			'%')
		</if>
	</select>
	<select id="selectInfo" parameterType="com.jtzh.pojo.CountrysideChuliParam"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from countryside_chuli
		where delflag = 'A'
		<if test="page.yhzh != null and page.yhzh != ''">
			and yhzh like concat('%', #{page.yhzh},
			'%')
		</if>
		order by createTime desc 
		limit
		#{page.start},#{page.pageSize}
	</select>
	<select id="getCountrysideChuliInfo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from countryside_chuli
		where id = #{id}
	</select>
	<update id="deleteCountrysideChuli">
		update countryside_chuli
		set
		delflag = 'D'
		where id =
		#{id,jdbcType=INTEGER}
	</update>
	<update id="updateCountrysideChuli" parameterType="com.jtzh.entity.CountrysideChuli">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jul 18 10:32:41 CST 2018.
    -->
    update countryside_chuli
    set 
		shangbaoid = #{shangbaoid,jdbcType=INTEGER},
		chuliren = #{chuliren,jdbcType=VARCHAR},
		chulitime = #{chulitime,jdbcType=DATE},
		chulimiaoshu = #{chulimiaoshu,jdbcType=VARCHAR}, 
		shenheren = #{shenheren,jdbcType=VARCHAR},
    	shenhetime = #{shenhetime,jdbcType=DATE},
    	shenhemiaoshu = #{shenhemiaoshu,jdbcType=VARCHAR},
    	shenheState = #{shenheState,jdbcType=VARCHAR}
	where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="Problemyichuli" parameterType="com.jtzh.entity.CountrysideChuli">
  <selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jul 18 10:32:41 CST 2018.
    -->
    insert into 
    countryside_chuli (shangbaoid,
		chuliren, chulitime, chulimiaoshu, shenheState,
		attachment_source, createId,
		createTime, delflag)
    values (#{shangbaoid,jdbcType=INTEGER},
		#{chuliren,jdbcType=VARCHAR},
		#{chulitime,jdbcType=DATE},
		#{chulimiaoshu,jdbcType=VARCHAR}, 
		#{shenheState,jdbcType=VARCHAR}, 
		#{attachmentSource,jdbcType=VARCHAR},
		#{createId,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{delflag,jdbcType=VARCHAR})
  </insert>
  <update id="Problemshenhe" parameterType="com.jtzh.entity.CountrysideChuli">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jul 18 10:32:41 CST 2018.
    -->
    update countryside_chuli
    set shenheren = #{shenheren,jdbcType=VARCHAR},
    shenhetime = #{shenhetime,jdbcType=DATE},
    shenhemiaoshu = #{shenhemiaoshu,jdbcType=VARCHAR},
    shenheState = #{shenheState,jdbcType=VARCHAR}
	where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="deletechuli">
		update countryside_chuli
		set
		delflag = 'D'
		where id =
		#{id,jdbcType=INTEGER}
	</update>
	<select id="selectAllTotal" parameterType="com.jtzh.pojo.CountrysideChuliParam"
		resultType="java.lang.Integer">
		select count(1)
		from countryside_chuli
		where 
		<if test="page.key != null and page.key != ''">
			shangbaoid like concat('%', #{page.key},
			'%')
		</if>
	</select>
	<select id="selectInfoAll" parameterType="com.jtzh.pojo.CountrysideChuliParam"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from countryside_chuli
		where 
		<if test="page.key != null and page.key != ''">
			shangbaoid like concat('%', #{page.key},
			'%')
		</if>
		order by createTime desc 
		limit
		#{page.start},#{page.pageSize}
	</select>
	<select id="getHuituiInfo" resultMap="BaseResultMap">
		select
		id,shenhe,shenhemiaoshu,shenhetime 
		from countryside_chuli
		where id = #{id}
	</select>
	<select id="selectAllBySid" resultType="com.jtzh.entity.CountrysideChuli">
		select 
		<include refid="Base_Column_List" /> 
		from countryside_chuli
		where shangbaoid = #{shangbaoid,jdbcType=INTEGER}
	</select>
</mapper>