<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jtzh.mapper.HwInformationMapper">
	<resultMap id="BaseResultMap" type="com.jtzh.entity.HwInformation">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="enclosure" property="enclosure" jdbcType="VARCHAR" />
		<result column="attachment_source" property="attachmentSource" jdbcType="CHAR" />
		<result column="yhzh" property="yhzh" jdbcType="VARCHAR" />
		<result column="createId" property="createId" jdbcType="VARCHAR" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    	<result column="delflag" jdbcType="VARCHAR" property="delflag" />
		<result column="read_num" property="readNum" jdbcType="INTEGER" />
		<result column="dz_num" property="dzNum" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, type, title,
		content, enclosure, 
		attachment_source, yhzh, 
		createId, createTime, delflag,read_num,dz_num
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from hwinformation
		where id = #{id,jdbcType=INTEGER}
	</select>
	<insert id="insert" parameterType="com.jtzh.entity.HwInformation">
		insert into
		hwinformation (id, type, title,
		content, enclosure, 
		attachment_source, yhzh, 
		createId, createTime, delflag)
		values (#{id,jdbcType=INTEGER},
		#{type,jdbcType=VARCHAR},
		#{title,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		#{enclosure,jdbcType=VARCHAR}, 
		#{attachmentSource,jdbcType=CHAR},
		#{yhzh,jdbcType=VARCHAR},
		#{createId,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{delflag,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.jtzh.entity.HwInformation">
		insert into hwinformation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="enclosure != null">
				enclosure,
			</if>
			<if test="attachmentSource != null">
				attachment_source,
			</if>
			<if test="yhzh != null">
				yhzh,
			</if>
			<if test="createId != null">
				createId,
			</if>
			<if test="createTime != null">
				createTime,
			</if>
			<if test="delflag != null">
				delflag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="enclosure != null">
				#{enclosure,jdbcType=VARCHAR},
			</if>
			<if test="attachmentSource != null">
				#{attachmentSource,jdbcType=CHAR},
			</if>
			<if test="yhzh != null">
				#{yhzh,jdbcType=VARCHAR},
			</if>
			<if test="createId != null">
				#{createId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="delflag != null">
				#{delflag,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="selectHwITotal" parameterType="com.jtzh.pojo.HwInformationParam"
		resultType="java.lang.Integer">
		select count(1)
		from hwinformation
		where delflag = 'A'
		<if test="page.yhzh != null and page.yhzh != ''">
			and yhzh like concat('%', #{page.yhzh},
			'%')
		</if>
		<if test="page.key != null and page.key != ''">
			and type like concat('%', #{page.key},
			'%')
		</if>
		<if test="page.startTime != null and page.startTime != ''">
			and createTime &gt; #{page.startTime}
		</if>
		<if test="page.endTime != null and page.endTime != ''">
			and createTime &lt; #{page.endTime}
		</if>
		<if test="page.title != null and page.title != ''">
			and title like concat('%', #{page.title},
			'%')
		</if>
		<if test="page.createId != null and page.createId != ''">
			and createId like concat('%', #{page.createId},
			'%')
		</if>
	</select>
	<select id="selectInfo" parameterType="com.jtzh.pojo.HwInformationParam"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from hwinformation
		where delflag = 'A'
		<if test="page.yhzh != null and page.yhzh != ''">
			and yhzh like concat('%', #{page.yhzh},
			'%')
		</if>
		<if test="page.key != null and page.key != ''">
			and type like concat('%', #{page.key},
			'%')
		</if>
		<if test="page.startTime != null and page.startTime != ''">
			and createTime &gt; #{page.startTime}
		</if>
		<if test="page.endTime != null and page.endTime != ''">
			and createTime &lt; #{page.endTime}
		</if>
		<if test="page.title != null and page.title != ''">
			and title like concat('%', #{page.title},
			'%')
		</if>
		<if test="page.createId != null and page.createId != ''">
			and createId like concat('%', #{page.createId},
			'%')
		</if>
		order by createTime desc 
		limit
		#{page.start},#{page.pageSize}
	</select>
	<select id="getHwInformationInfo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from hwinformation
		where id = #{id}
	</select>
	<update id="deleteHwInformation">
		update hwinformation
		set
		delflag = 'D'
		where id =
		#{id,jdbcType=INTEGER}
	</update>
	<update id="updateHwInformation" parameterType="com.jtzh.entity.HwInformation">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jul 18 10:32:41 CST 2018.
    -->
    update hwinformation
    set 
    	type = #{type,jdbcType=VARCHAR},
		title = #{title,jdbcType=VARCHAR},
		content = #{content,jdbcType=VARCHAR},
		enclosure = #{enclosure,jdbcType=VARCHAR}, 
		yhzh = #{yhzh,jdbcType=VARCHAR}
	where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertHwInformation" parameterType="com.jtzh.entity.HwInformation">
  <selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jul 18 10:32:41 CST 2018.
    -->
    insert into 
    hwinformation (type, title,
		content, enclosure, 
		attachment_source, yhzh, 
		createId, createTime, delflag)
    values (#{type,jdbcType=VARCHAR},
    	#{title,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		#{enclosure,jdbcType=VARCHAR}, 
		#{attachmentSource,jdbcType=CHAR},
		#{yhzh,jdbcType=VARCHAR},
		#{createId,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{delflag,jdbcType=VARCHAR})
  </insert>

	<select id="getHwInformationTypeCount" parameterType="com.jtzh.entity.HwInformationTypeCount"
			resultType="com.jtzh.entity.HwInformationTypeCount">
select distinct a.type,ifnull(b.count,0) as value
from hwinformation as a
			left join(
			select type,count(1) as count
			from hwinformation
			where delflag = 'A'
			group by type)as b
			on a.type=b.type
</select>


</mapper>