<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jtzh.mapper.NewsUserReceiveMapper">
	<resultMap id="BaseResultMap" type="com.jtzh.entity.NewsUserReceive">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="news_id" property="newsId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="is_receive" property="isReceive" jdbcType="CHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_id" property="createId" jdbcType="VARCHAR" />
		<result column="delflag" property="delflag" jdbcType="CHAR" />
		<result column="yhzh" property="yhzh" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, news_id, user_id, is_receive, create_time, create_id,
		delflag, yhzh
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from news_user_receive
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		news_user_receive
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.jtzh.entity.NewsUserReceive">
		insert into news_user_receive
		(id, news_id, user_id,
		is_receive, create_time, create_id,
		delflag,
		yhzh)
		values (#{id,jdbcType=INTEGER}, #{newsId,jdbcType=INTEGER},
		#{userId,jdbcType=INTEGER},
		#{isReceive,jdbcType=CHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=VARCHAR},
		#{delflag,jdbcType=CHAR}, #{yhzh,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.jtzh.entity.NewsUserReceive">
		insert into news_user_receive
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="newsId != null">
				news_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="isReceive != null">
				is_receive,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createId != null">
				create_id,
			</if>
			<if test="delflag != null">
				delflag,
			</if>
			<if test="yhzh != null">
				yhzh,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="newsId != null">
				#{newsId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="isReceive != null">
				#{isReceive,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createId != null">
				#{createId,jdbcType=VARCHAR},
			</if>
			<if test="delflag != null">
				#{delflag,jdbcType=CHAR},
			</if>
			<if test="yhzh != null">
				#{yhzh,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jtzh.entity.NewsUserReceive">
		update news_user_receive
		<set>
			<if test="newsId != null">
				news_id = #{newsId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="isReceive != null">
				is_receive = #{isReceive,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createId != null">
				create_id = #{createId,jdbcType=VARCHAR},
			</if>
			<if test="delflag != null">
				delflag = #{delflag,jdbcType=CHAR},
			</if>
			<if test="yhzh != null">
				yhzh = #{yhzh,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jtzh.entity.NewsUserReceive">
		update
		news_user_receive
		set news_id = #{newsId,jdbcType=INTEGER},
		user_id =
		#{userId,jdbcType=INTEGER},
		is_receive = #{isReceive,jdbcType=CHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		create_id =
		#{createId,jdbcType=VARCHAR},
		delflag = #{delflag,jdbcType=CHAR},
		yhzh =
		#{yhzh,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="getReceiveNameAndDep" resultType="com.jtzh.pojo.ReceivePerson"
		parameterType="com.jtzh.pojo.NewsDepReq">
		select ui.UIRealName as
		realName,ui.UISubordinateDepartment as depName,nur.create_time
		as
		readTime
		from news_user_receive nur left join UserInformation ui on
		nur.user_id = ui.id
		where nur.news_id = #{newsId,jdbcType=INTEGER}
		<if test="depName != null and depName != ''">
			and ui.UISubordinateDepartment = #{depName}
		</if>
		order by ui.UISubordinateDepartment
	</select>
	<select id="hasReceiveOrNot" parameterType="com.jtzh.entity.NewsUserReceive"
		resultType="java.lang.Integer">
		select
		count(1)
		from news_user_receive
		where news_id = #{newsId,jdbcType=INTEGER} and user_id =
		#{userId,jdbcType=INTEGER}
	</select>
</mapper>