<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtzh.mapper.PioneerServiceEnrollMapper">
  <resultMap id="BaseResultMap" type="com.jtzh.entity.PioneerServiceEnroll">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="hdid" jdbcType="BIGINT" property="hdid" />
    <result column="zyzid" jdbcType="BIGINT" property="zyzid" />
    <result column="zyzzh" jdbcType="VARCHAR" property="zyzzh" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="delflag" jdbcType="CHAR" property="delflag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hdid, zyzid, zyzzh, create_time, delflag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pioneer_service_enroll
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pioneer_service_enroll
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jtzh.entity.PioneerServiceEnroll">
    insert into pioneer_service_enroll (id, hdid, zyzid, 
      zyzzh, create_time, delflag
      )
    values (#{id,jdbcType=BIGINT}, #{hdid,jdbcType=BIGINT}, #{zyzid,jdbcType=BIGINT}, 
      #{zyzzh,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{delflag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jtzh.entity.PioneerServiceEnroll">
    insert into pioneer_service_enroll
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hdid != null">
        hdid,
      </if>
      <if test="zyzid != null">
        zyzid,
      </if>
      <if test="zyzzh != null">
        zyzzh,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="delflag != null">
        delflag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hdid != null">
        #{hdid,jdbcType=BIGINT},
      </if>
      <if test="zyzid != null">
        #{zyzid,jdbcType=BIGINT},
      </if>
      <if test="zyzzh != null">
        #{zyzzh,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delflag != null">
        #{delflag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jtzh.entity.PioneerServiceEnroll">
    update pioneer_service_enroll
    <set>
      <if test="hdid != null">
        hdid = #{hdid,jdbcType=BIGINT},
      </if>
      <if test="zyzid != null">
        zyzid = #{zyzid,jdbcType=BIGINT},
      </if>
      <if test="zyzzh != null">
        zyzzh = #{zyzzh,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delflag != null">
        delflag = #{delflag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jtzh.entity.PioneerServiceEnroll">
    update pioneer_service_enroll
    set hdid = #{hdid,jdbcType=BIGINT},
      zyzid = #{zyzid,jdbcType=BIGINT},
      zyzzh = #{zyzzh,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      delflag = #{delflag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getZyzBm" resultType="java.lang.Integer">
  	select count(1) from pioneer_service_enroll  where delflag != 'D' and hdid = #{hdid} and zyzzh = #{zyzzh}
  </select>
  <select id="getZyzBmInfo" parameterType="com.jtzh.pojo.KeyParam" resultType="com.jtzh.entity.PioneerVolunteer">
      select volunteer.* from pioneer_service_enroll enroll join
      pioneer_volunteer volunteer on enroll.hdid = #{keyparam.keyword} and enroll.zyzid = volunteer.id
      order by create_time DESC limit #{keyparam.start} ,  #{keyparam.pageSize}
  </select>

    <select id="getZyzBmInfoTotal" parameterType="com.jtzh.pojo.KeyParam" resultType="java.lang.Integer">
      select count(1) from pioneer_service_enroll enroll join
      pioneer_volunteer volunteer on enroll.hdid = #{keyparam.keyword} and enroll.zyzid = volunteer.id
  </select>
</mapper>